<!-- <div id="bookingjs"></div> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script> <script src="https://cdn.timekit.io/booking-js/v1/booking.min.js" defer></script> <script>window.timekitBookingConfig = { widgetId: 'fbaa03f6-83df-4fb6-b59b-90a92863e197' }</script> -->

<!-- <div id="bookingjs"></div> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script> -->
<!-- <script src="https://cdn.timekit.io/booking-js/v2/booking.min.js" defer></script> -->
<!-- <script> -->
<!-- window.timekitBookingConfig = { -->
<!--   app_key: 'live_widget_key_GU3AUlApnuw5JHqAkCirC5FMpsXeLAID', -->
<!--   project_id: '2d0eebbd-4aea-4fd7-9f98-3d320b22c580' -->
<!-- } -->
<!-- </script> -->

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/arnoudplantinga/meeting" style="min-width:320px;height:680px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
